<div id="resourcesmanager" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
            fxLayout="column" fxLayoutAlign="center center"
            fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    group_work
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{'RESOURCESMANAGER.TITLE' | translate}}
                    <span *ngIf="isTrash=='trash'">(Trashed)</span>
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter  (keyup)="doFilter($event.target.value)" placeholder="Cerca per risorsa">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <div>
            <button mat-raised-button
                    [routerLink]="'/resourcesmanager/new'"
                    class="add-resource-button fuse-white mt-24 mt-md-0">
                <span>Aggiungi Risorsa</span>
            </button>
            &nbsp;
            <button mat-raised-button (click)="exportExcel()" class="add-user-button fuse-white mt-24 mt-md-0">
                <span>Esporta in Excel</span>
            </button>
            &nbsp;
            <button mat-raised-button (click)="resetFile();fileInput.click()" class="add-user-button fuse-white mt-24 mt-md-0">
                <span>Importa da Excel</span>
            </button>
            <input hidden (change)="onChange($event)" #fileInput type="file" id="file">
            <!-- / ADD BUTTON -->

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button *ngIf="isTrash==''" mat-menu-item [routerLink]="'/resourcesmanager/trash/all'">
                <mat-icon>delete</mat-icon>
                <span>Trashed Events</span>
              </button>
              <button *ngIf="isTrash=='trash'" mat-menu-item [routerLink]="'/resourcesmanager'">
                <mat-icon>event_available</mat-icon>
                <span>Available Events</span>
              </button>
            </mat-menu>
        </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table class="resources-table"
                      #table [dataSource]="dataSource"
                      matSort
                      [@animateStagger]="{value:'50'}"
                      fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="num-auto">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:70px">#</mat-header-cell>
                    <mat-cell *matCellDef="let i = index;" style="max-width:70px">
                        <p class="text-truncate"> {{ getDSequenceNumber(i) }} </p>
                    </mat-cell>
                </ng-container>
                <!-- ID Column -->

                <ng-container matColumnDef="oid">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:70px">ID</mat-header-cell>
                    <mat-cell *matCellDef="let resource" style="max-width:70px">
                        <p class="text-truncate">{{resource.oid}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-cell-15vw">Codice</mat-header-cell>
                    <mat-cell *matCellDef="let resource" class="table-cell-15vw">
                        <p class="text-truncate">{{resource.code}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nome o Descrizione</mat-header-cell>
                    <mat-cell *matCellDef="let resource">
                        <!--<p *ngIf="resource.descr" class="text-truncate">{{resource.descr}}</p>
                        <p *ngIf="!resource.descr" class="text-truncate">{{resource.name}}-{{resource.surname}}</p>-->
                        <p class="text-truncate">{{getResourceName(resource)}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-cell-15vw">Tipo Risorsa</mat-header-cell>
                    <mat-cell *matCellDef="let resource" class="table-cell-15vw">
                        <p  class="text-truncate">{{resource.resourceType.descr}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="available">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-cell-7vw" style="max-width:70px">Disponibile</mat-header-cell>
                    <mat-cell *matCellDef="let resource" class="table-cell-7vw" style="max-width:70px">
                        <mat-icon *ngIf="resource.available == 1" class="active-icon green-600 s-16">check</mat-icon>
                        <mat-icon *ngIf="resource.available == 0" class="active-icon red-500 s-16">close</mat-icon>
                    </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="qta">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm style="max-width:60px">Quantità attuale</mat-header-cell>
                    <mat-cell *matCellDef="let resource" fxHide fxShow.gt-sm style="max-width:60px">
                        <p  class="text-truncate">{{resource.avail_qta}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eventCount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm style="max-width:60px">Event Count</mat-header-cell>
                  <mat-cell *matCellDef="let resource" fxHide fxShow.gt-sm style="max-width:60px">
                      <p  class="text-truncate">{{resource.events.length}}</p>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm style="max-width:60px">Status</mat-header-cell>
                  <mat-cell *matCellDef="let resource" fxHide fxShow.gt-sm style="max-width:60px">
                    <span *ngIf="resource.is_trash != 1"><mat-icon>delete</mat-icon></span>
                    <span *ngIf="resource.is_trash != 0"><mat-icon>restore</mat-icon></span>
                  </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="eventList">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Event List</mat-header-cell>
                  <mat-cell *matCellDef="let resource" fxHide fxShow.gt-md>
                    <ul>
                      <li *ngFor="let event of resource.events">
                        <p class="text-truncate">{{event.info_event}}</p>
                      </li>
                    </ul>
                  </mat-cell>
                </ng-container> -->

                <!--<ng-container matColumnDef="role">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Ruolo</mat-header-cell>
                    <mat-cell *matCellDef="let user" >
                        <p class="text-truncate"></p>
                    </mat-cell>
                </ng-container>-->

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let resource; columns: displayedColumns;"
                         class="resource"
                         matRipple
                         [routerLink]="'/resourcesmanager/'+resource.oid">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="10"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>