<div id="plan" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/plansmanager'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="user-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{message.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nuova Messaggio
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Dettaglio messaggio</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-user-button" [disabled]="messageForm.invalid"
                *ngIf="pageType ==='new'" (click)="addPlan()">
                <span>Aggiungi</span>
            </button>
            <button mat-raised-button class="save-user-button" [disabled]="messageForm.invalid"
                *ngIf="pageType ==='edit'" (click)="savePlan()">
                <span>Aggiorna</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="messageForm" [formGroup]="messageForm" class="user w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>ID</mat-label>
                                    <input matInput placeholder="automatic id" name="oid" formControlName="oid"
                                        readonly>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Titolo Messaggio</mat-label>
                                    <input matInput placeholder="Titolo Messaggio" name="title" formControlName="title"
                                        required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Testo Messaggio</mat-label>
                                    <textarea matInput placeholder="Testo Messaggio" name="text" formControlName="text"
                                        required></textarea>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Link Messaggio</mat-label>
                                    <input matInput placeholder="Link Messaggio" name="url" formControlName="url">
                                </mat-form-field>



                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Attività destinataria</mat-label>
                                        <mat-select [compareWith]="compareObjects" placeholder="Seleziona l'attività"
                                            formControlName="business">
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="businessFilterCtrl"
                                                    [placeholderLabel]="'Search...'"
                                                    [noEntriesFoundLabel]="'Not found'">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option [value]="business"
                                                *ngFor="let business of filteredBusinesses | async">
                                                {{business.name}}
                                            </mat-option>
                                        </mat-select>
                                </mat-form-field>


                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Ruolo destinatario</mat-label>
                                        <mat-select [compareWith]="compareObjects" placeholder="Seleziona un ruolo"
                                            formControlName="role" required>
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="roleFilterCtrl"
                                                    [placeholderLabel]="'Search...'"
                                                    [noEntriesFoundLabel]="'Not found'">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option [value]="role" *ngFor="let role of filteredRoles | async">
                                                {{role.descr}}
                                            </mat-option>
                                        </mat-select>
                                </mat-form-field>


                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Utente destinatario</mat-label>
                                        <mat-select [compareWith]="compareObjects" placeholder="Seleziona l'utente"
                                            formControlName="user_sent" required>
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="usersFilterCtrl"
                                                    [placeholderLabel]="'Search...'"
                                                    [noEntriesFoundLabel]="'Not found'">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option [value]="user" *ngFor="let user of filteredUsers | async">
                                                {{user.name}}
                                            </mat-option>
                                        </mat-select>
                                </mat-form-field>





                            </div>

                        </mat-tab>




                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>