<div class="navbar-top" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="logo-icon" src="assets/images/logos/myrent.svg">
        <span class="logo-text secondary-text">GestireFacile.it</span>
    </div>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-folded"
                (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened"
                (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground"
     fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true}">
     <div style="color: #039be5 !important;width: 100%;text-align: center;" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">App Version 1.0.10</div> 
    <div class="user" fxLayout="column" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">
        
        <div *ngIf="currentUser"  class="h3 username">{{this.currentUser.name}} {{this.currentUser.surname}}</div>
        <div *ngIf="currentUser"  class="h5 email hint-text mt-8">{{this.currentUser.email}}</div>
        <div class="avatar-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground">
            <img *ngIf="currentUser && currentUser.superuser" class="avatar" src="assets/images/avatars/superuser.jpg">
            <img *ngIf="currentUser && !currentUser.superuser && !logoSrc" class="avatar" src="assets/images/avatars/user.png">
            <img *ngIf="currentUser && !currentUser.superuser && logoSrc" class="avatar" src="{{logoSrc}}">
        </div>

    </div>

    <div class="navbar-content">
        <fuse-navigation class="material2" layout="vertical"></fuse-navigation>
    </div>

</div>
