<div id="app-firstnote" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header accent"
          fxLayout="column" fxLayoutAlign="center center"
          fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

          <!-- APP TITLE -->
          <div class="logo mb-24 mb-md-0"
              fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                  iso
              </mat-icon>
              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{'FIRSTNOTEMANAGER.TITLE' | translate}}
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-wrapper mx-32 mx-md-0">
              <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>search</mat-icon>
                  <input #filter  (keyup)="doFilter($event.target.value)" placeholder="Cerca per cose da fare">
              </div>
          </div>
          <!-- / SEARCH -->

          <div class="mt-32 mt-md-0"></div>
          <!-- ADD BUTTON -->
          <!-- <button mat-raised-button class="add-category-button fuse-white mt-24 mt-md-0" style="display: none;">
              <span>First Note</span>
          </button> -->
          <!-- / ADD BUTTON -->

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">

          <mat-table class="firstnotetable-table"
                    #table [dataSource]="dataSource"
                    matSort
                    [@animateStagger]="{value:'50'}"
                    fusePerfectScrollbar>

              <ng-container matColumnDef="auto-num">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
                  <mat-cell *matCellDef="let i = index;">
                      <p class="text-truncate">{{ getDSequenceNumber(i) }}</p>
                  </mat-cell>
              </ng-container>

              <!-- ID Column -->
              <!--ng-container matColumnDef="oid">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                  <mat-cell *matCellDef="let firstnote">
                      <p class="text-truncate">{{firstnote.oid}}</p>
                  </mat-cell>
              </ng-container-->

              <!-- Descrizione Column -->
              <ng-container matColumnDef="income">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-md>{{'income.TITLE' | translate}}</mat-header-cell>
                  <mat-cell *matCellDef="let firstnote" fxShow.gt-md>
                      <p *ngIf="firstnote.oid_payment_type != 6" class="text-truncate">{{firstnote.amount}}</p>
                  </mat-cell>
              </ng-container>

              <!-- Acronimo Column -->
              <ng-container matColumnDef="expenses">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{'expenses.TITLE' | translate}}</mat-header-cell>
                  <mat-cell *matCellDef="let firstnote">
                      <p *ngIf="firstnote.oid_payment_type == 6" class="text-truncate">{{firstnote.amount}}</p>
                  </mat-cell>
              </ng-container>

              <ng-container matColumnDef="category">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{'category.TITLE' | translate}}</mat-header-cell>
                  <mat-cell *matCellDef="let firstnote">
                      <p class="text-truncate">{{firstnote.paymentMethodAcronym}}</p>
                  </mat-cell>
              </ng-container>

              <ng-container matColumnDef="datetime">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'datetime.TITLE' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let firstnote">
                    <p class="text-truncate">{{getFormatDate(firstnote.paymentDate)}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{'description.TITLE' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let firstnote">
                  <p class="text-truncate">{{firstnote.paymentNote}}</p>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
            <mat-row *matRowDef="let firstnote; columns: displayedColumns;"
                      class="firstnote"
                      matRipple
                      [routerLink]="'/eventsmanager/'+firstnote.oid_event">
            </mat-row>

          </mat-table>

          <mat-paginator #paginator
                        [length]="10"
                        [pageIndex]="0"
                        [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>

      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>