<div id="warehouse" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/warehousemanager'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="user-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{warehouse.descr}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nuovo Magazzino
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Dettaglio Magazzino</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-user-button" [disabled]="warehouseForm.invalid" *ngIf="pageType ==='new'"
                (click)="addWarehouse()">
                <span>Aggiungi</span>
            </button>

            <button mat-raised-button class="save-user-button" [disabled]="warehouseForm.invalid || warehouseForm.pristine"
                *ngIf="pageType ==='edit'" (click)="saveWarehouse()">
                <span>Aggiorna</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="warehouseForm" [formGroup]="warehouseForm" class="user w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>ID</mat-label>
                                    <input matInput placeholder="automatic id" name="oid" formControlName="oid" readonly>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Acronimo</mat-label>
                                    <input matInput placeholder="Acronimo" name="acronym" formControlName="acronym" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Descrizione</mat-label>
                                    <input matInput placeholder="Descrizione" name="descr" formControlName="descr"
                                        required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Indirizzo</mat-label>
                                    <input matInput placeholder="Indirizzo" name="address" formControlName="address">
                                    <button mat-raised-button matSuffix ><span><a href="https://maps.google.com/?q={{warehouse.address}}"  target="_blank">Maps</a></span></button>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Telefono</mat-label>
                                    <input matInput placeholder="Telefono" name="tel" formControlName="tel">
                                    <button mat-raised-button matSuffix ><span><a href="tel:{{warehouse.tel}}"  target="_blank">Chiama</a></span></button>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    
                                    <mat-label>Attività</mat-label>
 
                                        <mat-select [compareWith]="compareObjects" placeholder="Seleziona l'attività"
                                            formControlName="business" required>
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="businessesFilterCtrl"
                                                    [placeholderLabel]="'Search...'"
                                                    [noEntriesFoundLabel]="'Not found'">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option [value]="business"
                                                *ngFor="let business of filteredBusiness | async">
                                                {{business.descr}}
                                            </mat-option>
                                        </mat-select>
                                </mat-form-field>
                            </div>
                        </mat-tab>
                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>